<div id="main-container">
  <div
    id="clothing-designer"
    class="fpd-container fpd-shadow-2 fpd-sidebar fpd-tabs fpd-tabs-side fpd-top-actions-centered fpd-bottom-actions-centered fpd-views-inside-left"
  ></div>

  <br /><br />
  <div class="fpd-right">
    <span class="price badge badge-inverse"
      ><span id="thsirt-price"></span> $</span
    >
  </div>
  <div id="my-variations"></div>
  <div id="print-back">
    <img src="images/preview/preview.jpg" />
  </div>
  <br />
  <div class="fpd-clearfix" style="margin-top: 30px">
    <div class="api-buttons fpd-container fpd-left">
      <a href="#" id="print-button" class="fpd-btn">Print</a>
      <a href="#" id="image-button" class="fpd-btn">Create Image</a>
      <a href="#" id="checkout-button" class="fpd-btn">Checkout</a>
      <a href="#" id="recreation-button" class="fpd-btn">Recreate product</a>
    </div>
    <div class="fpd-right">
      <span class="price badge badge-inverse"
        ><span id="thsirt-price"></span> $</span
      >
    </div>
  </div>
</div>
